* {
  box-sizing: border-box;
}

body {
  color: $clr-black;
  font-family: $font-family-base;
  font-size: rem($font-size-base);
  line-height: $line-height-base;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $clr-navy;
  font-family: $font-family-header;
  line-height: 1.2;
  margin: 0 0 .5em;
}

h1 {
  font-size: rem($font-size-h1);
  font-weight: $font-weight-black;
  line-height: 1;
  text-transform: uppercase;
}

h2 {
  font-size: rem($font-size-h2);
  font-weight: $font-weight-black;
  text-transform: uppercase;
}

h3 {
  font-size: rem($font-size-h3);
  font-weight: $font-weight-bold;
}

h4 {
  font-size: rem($font-size-h4);
  font-weight: $font-weight-bold;
}

h5 {
  font-size: rem($font-size-h5);
  font-weight: $font-weight-bold;
}

h6 {
  font-size: rem($font-size-h6);
  font-weight: $font-weight-bold;
  text-transform: none;
}

a {
  color: $clr-navy;
  text-decoration: $link-decoration;
  transition: color .3s ease-out;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    color: $clr-navy;
    text-decoration: $link-hover-decoration;
  }
}

button {
  font-family: $font-family-base;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.profile-pic {
  border-radius: 50%;
  height: rem(50);
  overflow: hidden;
  width: rem(50);

  img {
    height: 100%;
    width: 100%;
  }
}

.hidden {
  display: none !important;
}
