.loader {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;

  &:before {
    animation: scale 3s ease infinite;
    background: url(../images/design/Logo_opigno_circle.svg) center/cover no-repeat;
    content: '';
    height: 100px;
    width: 100px;
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}
