.teasers-list {
  > div {
    &:nth-child(even) {
      background: $clr-blue-light;
    }
  }
}

.teaser {
  padding: rem(50) 0;

  @include media-breakpoint-up(sm) {
    padding: rem(80) 0;
  }

  @include media-breakpoint-up(md) {
    padding: rem(106) 0;
  }

  &__big {
    .teaser__image {
      margin-bottom: rem(20);

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        padding-right: rem(20);
      }

      @include media-breakpoint-up(lg) {
        padding-right: rem(40);
      }
    }

    .teaser__title {
      font-size: rem(32);

      @include media-breakpoint-up(sm) {
        font-size: rem(40);
      }

      @include media-breakpoint-up(lg) {
        font-size: rem(48);
        margin-bottom: rem(30);
      }
    }

    .teaser__description {
      font-size: rem(18);
      font-weight: $font-weight-bold;
      margin-bottom: rem(30);

      @include media-breakpoint-up(lg) {
        font-size: rem(24);
      }
    }
  }

  &__small {
    .teaser__image {
      margin-bottom: rem(20);

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    .teaser__title {
      font-size: rem(24);
      margin-bottom: rem(13);
    }

    .teaser__description {
      line-height: 1.9;
    }

    p {
      margin-bottom: rem(7);
    }

    .teaser__link {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .slick-list {
      order: -1;
      margin-bottom: rem(20);

      @include media-breakpoint-up(md) {
        margin-bottom: rem(60);
      }
    }

    .slick-next {
      order: 1;
    }

    .teaser__content {
      display: block;

      @include media-breakpoint-up(sm) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .teaser__image {
      margin: 0 auto rem(20);
      max-width: 150px;

      @include media-breakpoint-up(sm) {
        flex: 1 0 rem(175);
        max-width: rem(175);
        margin: 0;
        padding-right: rem(20);
      }

      @include media-breakpoint-up(md) {
        flex: 1 0 rem(195);
        max-width: rem(195);
        padding-right: rem(37);
      }
    }

    .teaser__title {
      margin-bottom: rem(28);
    }

    .teaser__body {
      @include media-breakpoint-up(sm) {
        flex: 1 0 calc(100% - 175px);
        max-width: calc(100% - 175px);
      }

      @include media-breakpoint-up(md) {
        flex: 1 0 calc(100% - 195px);
        max-width: calc(100% - 195px);
      }
    }

    .teaser__description {
      line-height: 1.9;
    }
  }

  &__title-top {
    font-size: rem(32);
    margin-bottom: rem(20);
    text-align: center;

    @include media-breakpoint-up(sm) {
      font-size: rem(40);
      margin-bottom: rem(30);
    }

    @include media-breakpoint-up(lg) {
      font-size: rem(48);
      margin-bottom: rem(50);
    }
  }

  &__content {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
  }

  //&__image {
  //  img {
  //    border-radius: rem(10);
  //    box-shadow: 0 3px 6px rgba($black, .3);
  //  }
  //}

  &__date {
    color: $gray-300;
    display: block;
    font-size: rem(16);
    font-weight: $font-weight-bold;
    margin-bottom: rem(6);
  }

  .btn {
    justify-content: flex-start;
    min-width: rem(130);
  }
}
