.page-header {
  background: $clr-white;
  border-top: rem(10) solid $clr-blue;
  box-shadow: 0 2px 3px rgba($clr-black, .3);
  padding: rem(9) 0;

  @include media-breakpoint-down(md) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .row {
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  .col-left,
  .col-right {
    @include media-breakpoint-down(xs) {
      padding-left: rem(30);
      padding-right: rem(30);
    }

    @include media-breakpoint-up(lg) {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .col-right {
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .region-main-menu {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .mobile-header-wrapper {
    display: none;
    overflow-y: auto;
  }

  .mobile-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    padding: rem(63) 0 rem(25);
    text-align: center;

    @include media-breakpoint-up(lg) {
      display: none !important;
    }

    .block-profile__link {
      flex-direction: row;

      .profile-pic {
        margin-left: rem(20);
        margin-bottom: 0;
      }
    }
  }

  .block-profile {
    &__link {
      align-items: center;
      color: $clr-blue;
      display: flex;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
      }

      @include media-breakpoint-down(md) {
        font-size: rem(20);
      }

      &:hover {
        text-decoration: none;
      }

      &.active {

      }
    }

    .profile-pic {
      height: rem(60);
      margin-right: rem(15);
      width: rem(60);

      @include media-breakpoint-down(lg) {
        margin-bottom: rem(5);
      }
    }
  }

  // Temporary icon styles
  .block-notifications {
    align-items: center;
    display: flex;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(80);
    }

    &__item {
      margin-left: 18px;
      position: relative;

      @include media-breakpoint-down(md) {
        margin: 0 rem(23);
      }

      &.block-notifications__item--notifications {
        .dropdown-menu {
          margin-right: rem(-50);
          transform: perspective(1px) translate3d(0, -100%, 0) !important;
          transition: .3s ease;

          &.show {
            transition: .3s ease;
          }
        }
      }

      &.block-notifications__item--user-menu {
        @include media-breakpoint-down(md) {
          display: none;
        }

        .dropdown-menu {
          min-width: rem(218);
          padding: rem(20) rem(30);
        }
      }
    }

    .dropdown {
      > a {
        display: inline-block;
        vertical-align: middle;
      }
    }

    a {
      text-decoration: none;
    }

    .fi {
      color: $clr-blue;
      font-size: rem(24);
    }

    .fi-rr-angle-small-down {
      align-items: center;
      border: 2px solid $clr-blue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      height: rem(35);
      width: rem(35);

      &:before {
        margin-top: 2px;
      }
    }

    .dropdown-toggle {
      &:hover {
        color: $clr-white;
      }

      &:after {
        content: none;
      }
    }

    .dropdown-menu {
      display: block;
      padding: rem(7) rem(15) rem(20);
      margin-top: rem(20);
      min-width: rem(317);
      text-align: left;
      visibility: hidden;
      right: 0;
      left: auto !important;
      opacity: 0;
      transform: perspective(1px) translate3d(0, 0, 0) !important;
      transition: opacity .3s ease;

      &.show {
        display: block;
        visibility: visible;
        opacity: 1;
        transform: perspective(1px) translate3d(0, 20px, 0) !important;
        transition: opacity .3s ease;
      }

      .all-read {
        color: $clr-green;
        display: inline-flex;
        margin-bottom: rem(10);
      }
    }

    .notification-list {
      display: flex;
      flex-direction: column;
      font-size: rem(12);
      list-style: none;
      margin: 0 0 rem(17);
      padding: 0;
    }

    .notification-item {
      &:not(:last-child) {
        &:after {
          background: $clr-navy;
          content: '';
          display: block;
          height: 1px;
          margin: rem(6) auto;
          width: calc(100% - 10px);
        }
      }
    }

    .notification-item-text {
      background: $clr-gray-light;
      border-radius: rem(10);
      color: $clr-navy;
      display: block;
      padding: rem(8);
    }

    .view-notifications {
      display: flex;
      justify-content: center;
    }

    .marker {
      background: $clr-green;
      border-radius: 50%;
      height: rem(7);
      position: absolute;
      right: rem(-6);
      top: rem(-7);
      width: rem(7);
    }
  }
}

.sign-up {
  display: flex;
  justify-content: flex-end;
  max-width: rem(1720);
  padding-right: rem(20);
  position: fixed;
  top: rem(30);
  right: rem(70);
  z-index: 10;

  .btn {
    box-shadow: 0 3px 6px rgba($clr-black, .3);
    font-size: rem(20);
    text-transform: uppercase;
  }
}
