nav
  ul.footer-menu
    li.footer-menu__item
      a.footer-menu__link(href="#") Procurement
    li.footer-menu__item
      a.footer-menu__link(href="#") Careers
    li.footer-menu__item
      a.footer-menu__link(href="#") Terms and Conditions
    li.footer-menu__item
      a.footer-menu__link(href="#") Legal
