footer.page-footer(role="contentinfo")
  .footer-content
    .container
      .row
        .col-xl-8.col-md-9.d-flex.align-items-center.flex-column.flex-sm-row
          .block-system-branding-block
            a.home-link(href="/")
              img.logo(src="images/design/logo.png")

          include ./footer-menu

        .col-xl-4.col-md-3.d-flex.align-items-center
          .copyright ©2021 IUCN, Internationsl Union for Conservations of Nature
