header.page-header(role="banner")
  .container
    .row.align-items-center
      .col-lg-9.col-left
        .region.region-branding
          .block-system-branding-block
            a.home-link(href="/")
              img.logo(src="images/design/logo.png")

        .region-main-menu
          include main-menu

        .mobile-menu-btn
          span
          span
          span

        .mobile-header-wrapper
          .mobile-header
            include main-menu

            //ul.user-menu-list
            //  li.user-menu-item
            //    a.user-menu-item-text(href="#")
            //      i.fi.fi-rr-settings
            //      | Settings
            //  li.user-menu-item.logout
            //    a.user-menu-item-text(href="#")
            //      i.fi.fi-rr-sign-out
            //      | Logout

      .col-lg-3.col-right
        .sign-up
          a.btn.btn-bg(href="#" data-toggle="modal" data-target="#register-form") Stay in touch
