nav
  ul.main-menu
    li.main-menu__item
      a.main-menu__link(href="/") Home
    li.main-menu__item
      a.main-menu__link(href="catalog.html") Catalogue
    li.main-menu__item
      a.main-menu__link(href="contact-us.html") Contact us
