.row
  .teaser__content
    .col
      .teaser__partners.academic
        .teaser__partners-item
          .teaser__partners-logo
            img(src="images/content/ANU.png" alt="image")
        .teaser__partners-item
          .teaser__partners-logo
            img(src="images/content/Berkeley.png" alt="image")
        .teaser__partners-item
          .teaser__partners-logo
            img(src="images/content/ETHZ.png" alt="image")
        .teaser__partners-item
          .teaser__partners-logo
            img(src="images/content/usu.svg" alt="image")
        .teaser__partners-item
          .teaser__partners-logo
            img(src="images/content/Tsinghua.png" alt="image")
        .teaser__partners-item
          .teaser__partners-logo
            img(src="images/content/UNICAMP_logo.png" alt="image")

      .teaser__body
        .teaser__description
          p As the IUCN Academy will develop its activities fostering an interdisciplinary approach to nature conservation, it is proud to partner with a group of academic institutions well known for their work in the broader field of sustainable development.
