.row
  .teaser__content
    .col
      .teaser__partners.seed
        .teaser__partners-item
          .teaser__partners-logo
            img(src="images/content/korea.svg" alt="image")

          h3.teaser__partners-title Ministry of Environment - Republic of Korea
          p.teaser__partners-description We thank the Republic of Korea who is providing seed funding for the launch of the IUCN Academy in this critical phase of its development.

        .teaser__partners-item
          .teaser__partners-logo
            img(src="images/content/IUCN-Opigno.svg" alt="image")

          h3.teaser__partners-title Opigno LMS
          p.teaser__partners-description IUCN Academy is thankful to Opigno for supporting the initiative through the provision of sponsorship and expertise for the design of the&nbsp;
            a(href="iucnacademy.org") iucnacademy.org
            |  learning platform currently under development.

