.row
  .col-md-8.col-xl-6
    h2 Stay in touch
    p Register if you wish to be kept informed of the latest developments of IUCN Academy

  .col-md-4.col-xl-6.d-flex.justify-content-center.align-items-center
    a.btn.btn-bg(href="#" data-toggle="modal" data-target="#register-form") Register

