.teaser.teaser__small
  .container
    .row
      .col
        h2.teaser__title-top News

      .teaser__content
        .col-md-4
          .teaser__image
            img(src="/images/content/pic1.png" alt="image")

        .col-md-8
          .teaser__body
            time.teaser__date 04 July 2021

            h3.teaser__title "The Future of Work in Conservation" - Official launch event of the IUCN Academy during World Conservation Congress

            .teaser__description
              p As the work environment is becoming more and more dynamic, conservationists profiles and ways of working are also evolving quickly. Join us at WCC (in person or online) for a discussion with IUCN Director General and IUCN Academy Academic Partners on this important topic.

            .teaser__link
              a.btn.btn-rounded(href="https://www.iucncongress2020.org/programme/official-programme/session-51744") Join
