.teaser.teaser__big
  .container
    .row
      .teaser__content
        .col-md-6
          .teaser__image
            img(src="/images/content/pic2.png" alt="image")

        .col-md-6
          .teaser__body
            h2.teaser__title What is IUCN Academy ?

            .teaser__description
              p IUCN is launching its IUCN Academy to harness IUCN expertise and provide training to those seeking to make their contributions more meaningful within the dynamic world of professional conservation.

            .teaser__link
              a.btn.btn-rounded(href="#") Learn more
