.teaser__slide
  .row
    .col
      .teaser__content
        .teaser__image
          img(src="images/content/pic3.png" alt="image")

        .teaser__body
          h3.teaser__title Ministère de la Transition écologique

          .teaser__description
            p Le Ministère de la Transition écologique et solidaire concentre une part importante des leviers - énergie, air et climat, eau et biodiversité, prévention des risques, transports, aménagement durable, etc - pour piloter une politique de développement durable répondant aux enjeux majeurs de la préservation de notre environnement (changement climatique, perte de biodiversité...) et de l’installation d’une compétitivité durable de notre économie et de nos territoires dans un contexte mondialisé.
