.modal.fade#contact-us(tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h5.modal-title Contact us

        //a.close(href="#" type="button" data-dismiss="modal" aria-label="Close")
        //  i.fi.fi-rr-arrow-left

      .modal-body
        .address
          div Headquarters
          div
            strong IUCN
          div Rue Mauverney 28
          div 1196 Gland
          div Switzerland

        .contact-info
          div
            a(href="academy@iucn.org") academy@iucn.org
          div +41 22 9990000
          div +41 22 9990002 (Fax)
          div
            a(href="http://www.iucn.org") http://www.iucn.org
