.input-reset {
  border: 0 none;
  box-shadow: none;
  outline: none;
}

.input-group {
  position: relative;

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
  }
}

.form-control {
  font-size: rem($font-size-sm);
  display: block;
  width: 100%;
  padding: rem($input-btn-padding-x);
  border: 1px solid $input-border-color;
  background-color: $input-background;
  color: $input-color;
  resize: none;

  &:focus {
    outline: none;
    border-color: $login-input-border-color-focus;
  }

  &:disabled {
    opacity: $disable-opacity;
  }

  &.error {
    border-color: $clr-theme-danger;
    color: $clr-theme-danger;

    &:focus {
      border-color: inherit;
    }

    &::placeholder {
      color: inherit;
    }
  }

  &.input-icon {
    padding-left: 40px;

    &:focus {
      + i {
        color: $login-input-border-color-focus;
      }
    }

    &.error {
      + i {
        color: $clr-theme-danger;
      }
    }
  }
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

.form-text {
  background: $clr-white;
  border-radius: rem(5);
  border: none;
  color: $clr-black;
  display: block;
  font-family: $font-family-sans-serif;
  font-size: rem($font-size-sm);
  margin-top: 0;
  padding: rem(10) rem(23);
  width: 100%;

  &:focus {
    outline: none;
  }
}

.form-search {
  border: none;
  border-radius: rem(10);
  box-shadow: 0 0 6px rgba($clr-black, .3);
  font-family: $font-family-base;
  font-size: rem(14);
  outline: none;
  padding: rem(7) rem(20);

  + .form-submit {
    background: $clr-white url(../images/svg/fi-rr-search.svg) center/18px no-repeat;
  }
}

.form-textarea {
  resize: none;
}

::-webkit-input-placeholder {
  color: $gray-300;
  font-weight: $font-weight-bold;
}
::-moz-placeholder {
  color: $gray-300;
  font-weight: $font-weight-bold;
}
:-ms-input-placeholder {
  color: $gray-300;
  font-weight: $font-weight-bold;
}
:-moz-placeholder {
  color: $gray-300;
  font-weight: $font-weight-bold;
}

form {
  .form-submit {
    @extend .btn;
    @extend .btn-bg;
    @extend .btn-rounded;
  }
}
