.modal-open {
  .dialog-off-canvas-main-canvas {
    filter: blur(20px);
  }
}

.modal-dialog {
  max-width: rem(428);
}

.modal-header {
  border: none;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0;
  position: relative;

  .close {
    color: $clr-navy;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;

    &:hover {
      opacity: 1 !important;
    }
  }

  .close-x {
    font-size: rem(30);
    left: auto;
    right: rem(-8);
  }

  h2 {
    font-weight: $font-weight-black;
    text-transform: uppercase;
  }
}

.modal-title {
  font-weight: $font-weight-bold;
  text-transform: none;
}

.modal-content {
  border: none;
  border-radius: rem(10);
  box-shadow: 0 0 6px rgba($clr-black, .3);
  padding: rem(20);

  .ajax-progress {
    display: none;
  }
}

.modal-body {
  font-size: rem($font-size-sm);
  padding: 0;

  .views-exposed-form {
    margin-bottom: rem(20);

    .form-actions {
      justify-content: center;

      .form-submit {
        background: $clr-white url(../images/design/send-navy.svg) rem(35) center/24px no-repeat;
        border: 2px solid $clr-green;
        max-width: rem(156);
        padding-left: rem(30);

        &:hover {
          background-color: $clr-green;
          transform: translateY(-3px);
        }
      }
    }
  }

  .form-select {
    &.bootstrap-select {
      > .dropdown-toggle {
        font-size: rem(9);
        font-weight: $font-weight-bold;
        min-width: rem(158);
        padding: rem(0) rem(5) rem(0) rem(10);

        &:after {
          font-size: rem(23);
          margin: 0;
        }
      }

      .dropdown-menu {
        padding: 0;

        .dropdown-item {
          font-size: rem(9);
          font-weight: $font-weight-bold;
          padding: rem(5) rem(10);
        }
      }

      .active {
        display: none;
      }
    }
  }

  .trainings-list {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }

    a {
      align-items: center;
      background: $clr-gray-light;
      border-radius: rem(10);
      color: $clr-navy;
      display: flex;
      font-size: rem($font-size-sm);
      padding: rem(6) rem(16) rem(6) rem(20);
      text-decoration: none;
      transition: background .3s ease-out;

      &:hover {
        background: $clr-gray-light-D5;
      }
    }

    .image {
      border-radius: rem(5);
      margin-right: rem(20);
      max-width: rem(42);
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .date {
      font-size: rem($font-size-xs);
      font-style: italic;
      margin-left: auto;
    }
  }

  .post {
    .post__body {
      align-items: center;
      border: 1px solid $clr-navy;
      border-radius: rem(20);
      display: flex;
      margin: rem(20) 0;
      padding: rem(20);
    }

    &__body-badge-certificate {
      align-items: flex-start;
      flex-direction: column;

      .post__info {
        margin: auto;
      }
    }

    &__pretext {
      margin-bottom: rem(20);
    }

    &__image {
      flex: 1 0 rem(143);
      max-width: rem(143);
      padding-right: rem(23);

      img {
        border-radius: rem(10);
      }
    }

    p:not([class]) {
      margin: 0;
    }
  }

  .post-hint {
    font-weight: $font-weight-bold;
  }

  #createPost {
    .post__body {
      display: block;
      margin: 0 0 rem(30);
    }
  }

  .opigno-logo {
    margin: 0 auto rem(20);
    max-width: rem(195);
  }
}

.modal-backdrop {
  background: none;
}

#createPost {
  .post {
    &__info {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &__icon {
      display: inline-flex;
      height: rem(95);
      margin-right: rem(20);
      width: rem(95);
    }

    .badge {
      background: url(../images/design/badges.svg) center/cover no-repeat;
    }

    .certificate {
      background: url(../images/design/certificate.svg) center/cover no-repeat;
    }

    &__info-content {
      h2 {
        font-weight: $font-weight-black;
        margin-bottom: rem(7);
      }

      p {
        font-weight: $font-weight-bold;
        margin-bottom: rem(9);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

#contact-us {
  .modal-dialog {
    max-width: rem(580);
  }

  .modal-content {
    padding: rem(50) rem(140);
  }

  .modal-header {
    justify-content: flex-start;
    margin-bottom: rem(50);
  }

  .modal-title {
    font-size: rem(36);
  }

  .modal-body {
    color: $clr-navy;
    font-size: rem(24);
  }

  .address {
    margin-bottom: rem(30);
  }
}

#register-form {
  .modal-dialog {
    max-width: rem(890);
  }
}
