extends ../layout/main

block variables
  - var title = 'What is IUCN Academy ?';
  - var description = '';
  - var pageClass = 'about-page';
  - var pageID = 'about';

block content
  .row
    .col
      .paragraph.paragraph__top-banner
        img(src="images/content/top-banner.png" alt="image")

      .paragraph.paragraph__text
        h2 TRAINING CONSERVATION LEADERS

        p.summary The IUCN Academy will develop qualitative and innovative training in the broader field of nature conservation and equip its participants -post graduate students and professionals alike- with the right knowledge and skills to drive the green transition our societies are calling for.

      .paragraph.paragraph__text-image
        .image
          img(src="images/content/pic4.png" alt="image")

        .text
          p As the pace of change in working practices has been further increased by the coronavirus pandemic, the profiles and ways of working of tomorrow's conservationists are also evolving quickly. IUCN is launching its IUCN Academy to harness IUCN expertise on the ground and provide training to those seeking to make their contributions more meaningful and efficient within the dynamic world of conservation.
          p IUCN Academy will promote an inter-disciplinary approach to nature conservation, exploring its many dimensions contributing to sustainable development.
          h4 Key priorities
          h6 Inclusiveness and diversity
          p IUCN Academy programmes will aim at bringing together people with different backgrounds, expertise and origins, providing equal opportunities to all.
          h6 Inter-generational dialogue and lifelong learning
          p We believe in the power of muti-generational exchange and the IUCN Academy programmes will foster to make youth a key contributor to its activities.

      .paragraph.paragraph__text
        h6 Quality and innovation
        p IUCN Academy training programmes will propose best in-class and online learning experience using innovative pedagogical methods. IUCN Academy will build upon the wealth of expertise on the ground existing inside IUCN to propose training with the latest knowledge in the field of nature conservation, some with micro credentials such as the Professional Certificate on the IUCN Global Standard on Nature-based Solutions.
        h6 The way ahead
        p A first pilot programme has been launched last August: The IUCN Academy Professional Certificate on the IUCN Global Standard on Nature-based Solutions. The pilot was a great success, and a second edition of the Professional Certificate is planned for January 2022. More info&nbsp;
          a(href="https://www.iucn.org/theme/nature-based-solutions/initiatives/iucn-professional-certificate-nature-based-solutions") here.
        p Over the coming months, IUCN Academy will further develop its activities and publish its catalogue of training. If you wish to be kept informed of the development of the IUCN Academy, please register&nbsp;
          a(href="#" data-toggle="modal" data-target="#register-form") here.
