extends ../layout/index

block variables
  - var title = 'Home';
  - var description = '';
  - var pageClass = 'page-front';
  - var pageID = 'page-front';

block content

  main.page-main(role="main")
    .full-width.banner
      .banner__container(style="background-image: url(images/content/banner.png)")
        .container
          .row.flex-column-reverse.flex-md-row
            .col-md-6
              .login-form-wrapper
                h2 Login

                include ../includes/modules/form/login-form

            .col-md-6
              h1 IUCN Academy

    .teasers-list
      include ../includes/modules/teaser-big
      include ../includes/modules/teaser-small

      .teaser
        .container
          h2.teaser__title-top Academic partners
          include ../includes/modules/teaser-academic-partners

      .teaser
        .container
          h2.teaser__title-top Seed partners
          include ../includes/modules/teaser-seed-partners

      .teaser.teaser__stay-in-touch
        .container
          include ../includes/modules/teaser-stay-in-touch
