.paragraph {
  margin-bottom: rem(30);

  &__top-banner {

  }

  &__text {
    h2 {
      font-size: rem(30);
      margin-bottom: rem(30);

      @include media-breakpoint-up(md) {
        font-size: rem(48);
      }
    }
  }

  &__text-image {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }

    .image {
      flex: 1 1 rem(377);
      margin-bottom: rem(20);

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        padding-right: rem(30);
      }
    }

    .text {
      flex: 1 1 calc(100% - 377px);

      h4 {
        margin: rem(20) 0 rem(25);
      }

      h6 {
        margin: rem(25) 0 0;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .summary {
    font-size: rem(20);
    font-weight: $font-weight-bold;
    line-height: 1.2;

    @include media-breakpoint-up(md) {
      font-size: rem(24);
    }
  }
}

