.views-exposed-form {
  .form-group {
    padding: 0;

    legend {
      font-size: rem($font-size-base);
      color: $clr-block-title;
    }

    .form-item {
      margin: 0;
    }
  }

  .form-item {
    &:last-child {
      margin-bottom: 0;
    }
    // scss-lint:disable QualifyingElement
    input[type="checkbox"],
    input[type="radio"] {
      @include sr-only();

      &:checked {
        ~ label {
          background-color: $clr-white;
          border-color: $clr-blue;

          &:before {
            opacity: 1;
          }
        }
      }

      &:disabled {
        ~ label {
          color: $gray-300;
        }

        &:hover {
          ~ label {
            background-color: $clr-gray-light;
            cursor: default;
          }
        }
      }
    }
    // scss-lint:enable QualifyingElement

    label {
      background-color: $clr-gray-light;
      border: 1px solid transparent;
      border-radius: rem(5);
      display: block;
      color: $clr-blue;
      cursor: pointer;
      font-weight: $font-weight-bold;
      margin-bottom: 0;
      padding: rem(5) rem(25) rem(5) rem(20);
      position: relative;
      transition: .3s ease-out;

      &:hover {
        border-color: $clr-blue;
      }

      &:before {
        color: $clr-navy-dark;
        content: '\f15c';
        display: block;
        font-family: uicons-regular-rounded;
        font-size: rem(22);
        opacity: 0;
        position: absolute;
        right: rem(12);
        top: 50%;
        transform: translateY(-50%);
        transition: opacity .3s ease-out;
      }
    }
  }

  .category {
    &__term {
      + label {
        padding-left: rem(40);

        &:after {
          border-radius: 3px;
          content: '';
          display: block;
          position: absolute;
          left: 3px;
          top: rem(6);
          height: rem(19);
          width: rem(19);
        }
      }
    }

    &__yellow {
      + label {
        &:after {
          background: $clr-yellow;
        }
      }
    }

    &__blue {
      + label {
        &:after {
          background: $clr-blue;
        }
      }
    }

    &__green {
      + label {
        &:after {
          background: $clr-green-forest;
        }
      }
    }
  }

  .form-items-group {
    display: flex;
    margin-bottom: rem(20);

    @include media-breakpoint-down(lg) {
      margin-bottom: rem(10);
    }

    > .form-item {
      flex: 1 0 auto;
      margin-right: rem(10);
      margin-bottom: 0;
    }

    .form-search {
      margin-top: 0;
    }
  }

  .form-search,
  .form-submit {
    background-color: $clr-gray-light;
    border: 1px solid $gray-300;
    box-shadow: none;
    transform: none;
  }

  .form-submit {
    background: $clr-gray-light url(../images/design/search-gray.svg) center/18px no-repeat;
    border-radius: 50%;
    height: rem(33);
    min-height: rem(33);
    min-width: rem(33);
    text-indent: -9999px;
    width: rem(33);
  }

  .form-actions {
    display: flex;

    .btn {
      max-width: calc(50% - 5px);
      min-width: 0;
      width: 100%;
    }

    .form-submit {
      background: $clr-blue;
      border-radius: rem(10);
      border: none;
      box-shadow: none;
      text-indent: 0;
      height: auto;
      width: 100%;

      &:hover {
        box-shadow: 0 3px 3px rgba($clr-black, .3);
        transform: translateY(-3px);
      }
    }
  }

  .btn-reset-filter {
    @include media-breakpoint-down(md) {
      display: none;
    }

    + .form-submit {
      margin-left: rem(10);
    }
  }

  .show-filter {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
